result
iso/result
.tmp
system/hardware-configuration.nix
system/server/hardware-configuration.nix
core.*
misc/.env
key
server-key
nextcloud
target
!rust/welcome/target/release/welcome
misc/nixops


arion/vw-data
install-demo.cast2
install-demo.cast3

secrets/*


# m4
system/key.nix
system/nextcloud.nix
system/configuration.nix
system/config-nixops.nix
system/hardware-configuration.nix


.direnv
.env
