{ ... }:
 
{
networking.wireless = {
   enable = true;  # Enables wireless support via wpa_supplicant.
   userControlled.enable = true;
   networks = {
      "wifi_name".psk = "wifi_password";
   };
};

# networking.networkmanager.enable = true;  # wireless support with network manager

networking.extraHosts = ''
192.168.178.169 pi.home.local
'';
}
